WEBMAIL_DEFAULT_EMAIL=help@mmhnu.online
WEBMAIL_IMAP_HOST=mail.mmhnu.online
WEBMAIL_IMAP_PORT=993
WEBMAIL_IMAP_FLAGS=/imap/ssl/novalidate-cert
WEBMAIL_IMAP_USER=help@mmhnu.online
WEBMAIL_IMAP_PASS=change-me
WEBMAIL_SMTP_HOST=mail.mmhnu.online
WEBMAIL_SMTP_PORT=465
WEBMAIL_SMTP_SECURITY=ssl
WEBMAIL_SMTP_USER=help@mmhnu.online
WEBMAIL_SMTP_PASS=change-me
