Options -Indexes
AddType application/javascript .js
AddType text/cache-manifest .appcache

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ api/$1.php [L,QSA]
</IfModule>

<FilesMatch "\.(php|phar)$">
    <IfModule mod_headers.c>
        Header set X-Content-Type-Options "nosniff"
        Header set X-Frame-Options "SAMEORIGIN"
        Header set Referrer-Policy "strict-origin-when-cross-origin"
    </IfModule>
</FilesMatch>
